


    
<navbar-shelter></navbar-shelter>


      
<div class="row">
    <div  class="col-sm-4 float-right" style="background-color:white;">

     <img src="dog_puppy.jpg" class="mx-auto d-block" style="width:100%"> 
     <img src="cat_puppy.jpg" class="mx-auto d-block" style="width:100%"> 
    </div>
<!-- <container class=" col-sm-4" > -->
    <div  class="col-sm-4 " >

      <div class="midle"> 
      <h3 class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample"> צער בעלי חים - חיפה </h3>
      <div class="collapse" id="collapseExample1">
          <div class="card card-body"> 
      <h4>   כתובת: </h4>
        <div> דרך משה דיין מפרץ חיפה</div>
        <h4>   טלפון: </h4>
        <div> 04-8729696</div>
        <h4>   תחבורה: </h4>
        <div> אוטובוסים : 15, 1, 136</div>
        <button type="button" class="btn btn-primary btn-sm btn-block">המפה</button>
        <button type="button" value="1" class="btn btn-success btn-sm btn-block" ng-click="public(this.value)">הדיירים שלנו</button>
      </div>
      </div>
      </div>


      <br>
      <br>
      <div class="midle"> 
    <h3 class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample"> צער בעלי חים - ירושלים </h3>
    <div class="collapse" id="collapseExample2">
    <div class="card card-body">
           <h4>   כתובת: </h4>
      <div> דרך משה דיין מפרץ ירושלים</div>
      <h4>   טלפון: </h4>
      <div> 04-8729696</div>
      <h4>   תחבורה: </h4>
      <div> אוטובוסים : 15, 1, 136</div>
  
      <button type="button" class="btn btn-primary btn-sm btn-block">המפה</button>
      <button type="button" class="btn btn-success btn-sm btn-block"> הדיירים שלנו</button> 
    </div> 
  </div>  
</div>
    <br>
    <br>
    <div class="midle"> 
      <h3 class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample"> צער בעלי חים - תל אביב </h3>
      <div class="collapse" id="collapseExample3">
      <div class="card card-body">  
      <h4>   כתובת: </h4>
        <div> דרך משה דיין מפרץ תל אביב</div>
        <h4>   טלפון: </h4>
        <div> 04-8729696</div>
        <h4>   תחבורה: </h4>
        <div> אוטובוסים : 15, 1, 136</div>
         <button type="button" class="btn btn-primary btn-sm btn-block">המפה</button>
        <button type="button" class="btn btn-success btn-sm btn-block"> הדיירים שלנו</button>
      </div> 
      </div>
      </div>
      </div>
  <!-- </container> -->
       
    <div  class="col-sm-4 float-left" style="background-color:white;"></div>
  </div>
  <br>





   <!-- <container class="content">
<h4>בואו לפגוש החבר החדש שלכם</h4>

<div class="container" id="1" >
<div class="container" ng-repet="shelter in shelters" ng-model="showShelter()"> 
    <h2></h2>
   
  <div id="accordion">


      <div class="card">
        <div class="card-header" ng-click="toggle=!toggle">
          <a class="card-link" data-toggle="collapse" href="#collapseOne" >
            צער בעלי חים - חיפה
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion" >
          <div class="card-body" ng-show="toggle">
            כתובת: 
              "Hahistradut 120 Haifa",0504635977",
              "direction": "אוטובוסים : 15, 1, 136", 
          {{shelter.adr}} + " " + {{shelter.telefone}} + "" +  {{shelter.shname}}+{{5+5}} 
          </div>
        </div>
      </div>
     
           
         
            <div class="card">
              <div class="card-header" ng-click="togle=!togle">
                <a class="card-link" data-toggle="collapse" href="#collapseOne" >
                     צער בעלי חים - תל אביב
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body" ng-show="toggle">
                   
                כתובת בית המחסה: פרי עמל 1, אזור תעשייה עטרות, ירושלים
                כתובת המרפאה: המוסכים 9, תלפיות, ירושלים
                מס טלפון : 0504645977
                תחבורה : "אוטובוסים : 15, 1, 136
                  {{shelter.adr}} + " " + {{shelter.telefone}} + "" +  {{shelter.shname}}+{{5+5}}
                </div>
              </div>
              </div>
  </div>         

</container>  -->


    
    
      <!-- <div class="container" ng-repet="shelter in shelters" ng-model="showShelter()" > 
          <h2></h2> -->





    