

<navbar-shelter></navbar-shelter>




      
<div class="row">
<div  class="col-sm-4 float-right" style="background-color:white;">
  </div>

  <div  class="col-sm-4 " >
<div class="container mt-5">
    <h1>דיירי המקום</h1>
  
  <div class="row">
      <div class=" my-2 shadow p-4 mb-4 bg-white" ng-repeat="tenant in tenants">
  <div class="card" style="width:400px">
      <img class="card-img-top" ng-src="{{tenant.picUrl}}" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">  {{tenant.name}}</h4>
        <p class="card-text">{{tenant.des}}</p>
        <a href="#" class="btn btn-info" ng-click="" ng-show="isUserLoggedin()" ng-click="">שאלו אותנו על {{tenant.name}}</a>
        <a href="#" class="btn btn-primary"  ng-hide="isUserLoggedin()" ng-click="delete()">מחיקה</a>
      </div>
    </div>
    </div>
    </div>
    </div>


    <div  class="col-sm-4 float-left" style="background-color:white;"></div>
  </div>



    <!-- col-sm-6 col-md-4 -->