<nav class="navbar navbar-expand-md  navbar-light bghomepage">
  <!-- <a class="navbar-brand" href="#"> </a> -->


  <a class="navbar-brand " href="#">
    <i class="fa fa-paw icon-4x homeIcon "></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!-- <a href="#myModal" data-toggle="modal" class="nav-link" id="MainNavHelp">כניסה</a> -->
        <a class="navbar-brand spacer" href="#myModal" data-toggle="modal" ng-hide="isMenagerLoggedin()">כניסה</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand spacer" href="#!/signup" target="_blank" ng-hide="isMenagerLoggedin()">הרשמה</a>
      </li>
      <!-- <li class="nav-item">
        <a class="navbar-brand spacer" href="#!/list" target="#" ng-show="isMenagerLoggedin()">להוסיף מקלט לבעלי חיים</a>
      </li> -->
      <li class="nav-item">
        <a class="navbar-brand spacer" href="#!/newTenant" target="#" ng-show="isMenagerLoggedin()" ng-click="addTenant()">להוסיף בעל חיים</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand leftspacer" href="#" target="# " ng-show="isMenagerLoggedin()">להתנתק</a>
      </li>
    </ul>
  </div>
</nav>





<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" ng-controller="loginCtrl">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>
          <span class="glyphicon glyphicon-lock"></span> כניסה</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <form role="form">
          <div class="form-group">
            <label for="usrname">
              <span class="glyphicon glyphicon-user"></span> מייל</label>
            <input type="text" class="form-control" id="inputEmail" placeholder="" ng-model="email">
          </div>
          <div class="form-group">
            <label for="psw">
              <span class="glyphicon glyphicon-eye-open"></span> סיסמה</label>
            <input type="text" class="form-control" id="inputPsw" placeholder="" ng-model="psw">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" checked> זכור אותי</label>
          </div>
          <button type="submit" class="btn btn-success btn-block" ng-click="login()" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> כניסה</button>
        </form>
        <p>שכחתה
          <a href="#">סיסמה</a>
        </p>
        <br>
      </div>
      <div class="modal-footer">

        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancel</button>

      </div>
    </div>

  </div>
</div>
</div>

<script>
  $(document).ready(function () {
    $("#myBtn").click(function () {
      $("#myModal").modal();
    });
  });
</script>





<br>
<br>
<br>
<br>






<!-- <footer class="navbar   navbar-light fixed-bottom bghomepage">
  <a class="navbar-brand"> שימו לב - האתר הוא חינמי עבור עמותות ומקלטים לבעלי חיים ללא רווך .</a>
  <a class="navbar-brand">ההרשמה תתבצעה רק אחרי אישור מנהל האתר </a>
  <a class="navbar-brand" href="#">לאישור תפנו ל</a>
            <a class="navbar-brand" href="mailto:baitchadash@walla.co.il"> baitchadash@walla.co.il </a> 

</footer> -->